DATABASE_URL=postgresql://neondb_owner:npg_gUk1EYO0zLuc@ep-gentle-breeze-b49zja03-pooler.c-6.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require

JWT_SECRET=9f8e7b6c5a4d3f2e1a0b9c8d7e6f5a4b3c2d1e0f9a8b7c6d5e4f3a2b1c0d9e8f
JWT_EXPIRES_IN=7d

ADMIN_NAME=Administrator
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=Admin@123
ADMIN_PHONE=9876543210